@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /*noinspection ALL*/
    @font-face {
        font-family: 'EotE Symbol';
        src: url(/fonts/EotE_Symbol-Regular_v1.otf);
    }

    body {
        background-color: black;
    }

    hr {
        @apply opacity-30 border-dotted border border-gray-800 w-9/12 mx-auto;
    }

    input {
        @apply bg-black bg-opacity-0 border-t-2 border-b-2 border-gray-400 border-opacity-30 text-center;
    }

    button {
        @apply rounded-2xl px-3;
    }

    button {
        @apply border border-gray-900
    }

    button:hover {
        @apply shadow-2xl ring ring-indigo-600;
    }

    button:focus {
        @apply focus:ring focus:ring focus:ring-indigo-500 outline-none;
    }

    .manual_selector {
        @apply bg-gradient-to-br from-gray-900 to-black via-gray-900 z-20 px-3 border border-black;
    }

    .component_title {
        @apply w-full text-right pr-4 py-0.5 my-2 text-sm font-mono shadow font-light rounded shadow
        transition transition-opacity opacity-70 hover:opacity-90
        select-none bg-gradient-to-bl from-gray-900 via-gray-900;
    }

    .dice_face {
        font-family: 'EotE Symbol', serif;
    }

    .dice_log {
        @apply scrollbutnoscrollbar w-11/12 md:w-10/12 max-w-sm mb-10 mx-auto bg-gray-900 py-0.5 bg-opacity-10 rounded
        md:max-h-screen md:h-auto overflow-scroll;
    }

    .scrollbutnoscrollbar::-webkit-scrollbar {
        display: none;
    }

    .dice_graphic {
        @apply select-none p-3 text-center w-12 h-12 flex items-center justify-center shadow ring ring-2 ring-opacity-5 ring-black rounded
        bg-gradient-to-br m-2;
    }

    .scrollbutnoscrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer utilities {
    @variants responsive {
        .text-shadow {
            text-shadow: 2px 2px 4px black;
        }

        .text-shadow-sm {
            text-shadow: 1px 1px 2px black;
        }

        .text-shadow-md {
            text-shadow: 4px 4px 8px black;
        }

        .text-shadow-lg {
            text-shadow: 15px 15px 30px black;
        }

        .text-shadow-none {
            text-shadow: none;
        }
    }
}