@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /*noinspection ALL*/
    @font-face {
        font-family: 'EotE Symbol';
        src: url(/fonts/EotE_Symbol-Regular_v1.otf);
    }
    .dice_face {
        font-family: 'EotE Symbol', serif;
    }

    .dice_log {
        @apply scrollbutnoscrollbar w-11/12 md:w-10/12 max-w-sm mb-10 mx-auto bg-gray-900 py-0.5 bg-opacity-10 rounded
        max-h-96 md:max-h-screen md:h-auto overflow-auto;
    }

    .scrollbutnoscrollbar::-webkit-scrollbar {
        display: none;
    }

    .dice_graphic {
        @apply select-none p-3 text-center w-12 h-12 flex items-center justify-center shadow-xl rounded
        bg-gradient-to-br m-2;
    }

    .scrollbutnoscrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    hr {
        @apply opacity-30 border-dotted border border-gray-800 w-9/12 mx-auto;
    }

    input {
        @apply bg-black bg-opacity-0 border-t-2 border-b-2 border-gray-400 border-opacity-30 text-center;
    }

    button {
        @apply rounded-2xl px-3;
    }

    body {
        background-color: black;
    }

    button {
        @apply border border-gray-900
    }

    button:hover {
        @apply shadow-2xl font-semibold ring-2 ring-offset-2 ring-black;
    }
    button:focus {
        @apply focus:ring focus:ring-2 focus:ring-yellow-600 outline-none
    }
}